@keyframes goodAnswerAnimation {
    from {background-color:  rgb(122, 124, 4)}
    to {background-color: green;}
}
@keyframes wrongAnswerAnimation {
    from {background-color:  rgb(124, 38, 4);}
    to {background-color: red;}
}
@keyframes newQuestion {
  from {margin-left: 800px;}
  to{margin-left:0px;}
}
body{
  background-color: rgb(211, 211, 211);
  font: 1em sans-serif;
}
.wrapper{
  overflow: hidden;
  width: 80%;
  margin: auto;
  border: 4px solid rgb(124, 72, 4);
  background-color: rgb(184, 184, 184);
}
.quizTitle {
  color: rgb(255, 255, 255);
}
.myQuestion  {
  color: rgb(255, 255, 255);
}
.myQuestion::first-letter{
  color: rgb(124, 72, 4);
}
.questionBox, .resultBox {
  padding: 20px;
  width: 80%;
  margin-left:0px;
}
.questionBox-new{
  padding: 20px;
  width: 80%;
  margin-left:0px;
  animation-name: newQuestion;
  animation-duration: 1s;
}

.myAnswer{
  width: 80%;
  text-align: center;
}
.answer{
  list-style-type: none;
  padding: 10px;
  background-color:white;
  border:4px solid rgb(124, 72, 4);
  border-radius: 12px;
  margin: 15px;
}
.answer:hover{
  background-color:  rgb(184, 107, 6);
  cursor: pointer;
}
.right {
  padding: 10px;
  color:white;
  border:4px solid black;
  border-radius: 12px;
  margin: 5px;
  background-color: green;
  animation-name: goodAnswerAnimation;
  animation-duration: 0.4s;
}
.wrong{
  padding: 10px;
  color:white;
  border:4px solid black;
  border-radius: 12px;
  margin: 5px;
  background-color: red;
  animation-name: wrongAnswerAnimation;
  animation-duration: 0.4s;
}

.prijs{
  color: white;
  padding-left: 0px;
  text-shadow: 2, violet;
  text-align: center;
}